.container {
	padding: 20px;
	cursor: pointer;
	background-color: #53c28b;
	border: none;
	border-radius: 3px;
	color: white;
	width: 100%;
}

.container:hover {
	background-color: rgba(0, 0, 0, 0.7);
}
