.container {
	display: flex;
	align-items: center;
}

.input {
	width: 100%;
	padding: 20px;
	background-color: transparent;
	border: 2px solid #bbb;
	color: #bbb;
	border-radius: 5px;
	font-size: 20px;
	font-weight: bold;
}

.eyeIcon {
	margin-left: -30px;
	cursor: pointer;
}
